# MANIFEST template file to make a distribution tarball

# Package stuff
include COPYING MANIFEST.in Makefile PyQwt3D.spec THANKS TODO

# Documentation
graft Doc
prune Doc/html/htdoc
recursive-exclude Doc *cvsignore* *~

# configure
graft configure
prune configure/Qwt3D
prune configure/tmp-Qwt3D
recursive-exclude configure Makefile *.pyc *cvsignore* *~

# examples
graft examples
prune examples/Qwt3D
recursive-exclude examples *.html *.pdf *.png *.pyc *cvsignore* *~

# Numerical Python interface
graft numpy
recursive-exclude numpy *cvsignore* *~

# QwtPlot3D
graft qwtplot3d-0.2.6
recursive-exclude qwtplot3d-0.2.6 *~

# sip files
graft sip
recursive-exclude sip *cvsignore* *~

# The zlib-1.2.3 library.
graft zlib-1.2.3
prune zlib-1.2.3/amiga
prune zlib-1.2.3/as400
prune zlib-1.2.3/contrib
prune zlib-1.2.3/examples
prune zlib-1.2.3/msdos
prune zlib-1.2.3/old
prune zlib-1.2.3/projects
prune zlib-1.2.3/qnx
prune zlib-1.2.3/win32


# Local Variables: ***
# mode: sh ***
# End: ***
